/** ========================================================================= */
/** Stylesheet for both index.html and resource.html                          */
/** Created by Jia Hao Choo, Runyi Li & Saning Zhang                          */
/** for GGR472 TDSB Active Travel Sandbox Project (Winter 2024)               */
/** ========================================================================= */

/* General styling for body */
body {
  height: 100vh;
  width: 100vw;

  /* styling for the navbar */
  .navbar {
    width: 100%;
    height: 7%;
  }

  /* styling for the main content section (below navbar) */
  #main {
    height: 93%;
    width: 100%;
    position: relative;
    left: 12px;

    #sidebar {
      padding-right: 10px;
      padding-left: 10px;
    }

    /** styling for the map container */
    #map-content {
      padding-left: 0;
      padding-right: 0;

      .map-container {
        width: 100%;
        height: 100%;
      }
    }
  }
}
