/** ========================================================================= */
/** Stylesheet for both index.html and resources.html                         */
/** Created by Jia Hao Choo, Runyi Li & Saning Zhang                          */
/** for GGR472 TDSB Active Travel Sandbox Project (Winter 2024)               */
/** ========================================================================= */

/* General styling for body */
body {
  /** make the body take up the entire viewport */
  height: 100vh;
  width: 100vw;

  /* styling for the navbar */
  .navbar {
    width: 100%;
    height: 7%; /* 7% of the viewport height - the rest for the main content */
  }

  /* styling for the main content section (below navbar) in index.html page*/
  #main {
    height: 93%; /* 93% of the viewport height - the rest for the navbar */
    width: 100%;
    position: relative;
    margin: 0;

    /* styling for the sidebar */
    #sidebar {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 30px;

      /* styling for sidebar items */
      .sidebar-item {
        background-color: lightblue;
        margin-bottom: 12px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        min-height: 50px;
        height: fit-content;

        /** styling for individual components inside the sidebar item */
        div {
          display: flex;
          align-items: center; /* make sure that they are all vertically centered */
          font-size: 100%;
        }

        /** styling for sidebar items with hidden class attribute */
        .hidden {
          /* make sure that they are hidden, overriding any default display mode*/
          display: none !important;
        }
      }
    }

    /** styling for the map content section */
    #map-content {
      padding-left: 0;
      padding-right: 0;
      /* Change position to relative to allow absolute positioning of legend */
      position: relative;

      /* styling for the map container */
      .map-container {
        width: 100%;
        height: 100%;
      }

      /* Styling for legend container*/
      .legend-container {
        /** background color for legend */
        background-color: #ffffff;
        /** overlap legend on top of map */
        z-index: 2;
        /* absolute positioning relative to main content */
        position: absolute;
        bottom: 50px;
        left: 20px;
        /** padding inside legend container */
        padding: 10px;
        /** border for legend container */
        border: 1px solid #000000;
        border-radius: 5px;
        /** by default, hide the legend */
        display: none;
      }
    }
  }

  /* styling for the resource content section (below navbar) in resources.html page*/
  #resource {
    position: relative;
    margin: 0;
    height: 93%; /* 93% of the viewport height - the rest for the navbar */
    padding: 20px;
  }
}
